<div class="col-sm-6 col-xl-12 mb-2">
    <div class="widget widget-products">
        <h4 class="widget-title"><span>Bestsellers</span></h4><!-- End .widget-title -->

        <div class="products">
            <div class="product product-sm">
                <figure class="product-media">
                    <a href="/product/detail">
                        <img src="assets/images/demos/demo-14/products/small/product-1.jpg" alt="Product image"
                            class="product-image">
                    </a>
                </figure>

                <div class="product-body">
                    <h5 class="product-title"><a href="/product/detail">Sceptre 50" Class FHD
                            (1080P) LED TV</a></h5><!-- End .product-title -->
                    <div class="product-price">
                        $199.99
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product product-sm -->

            <div class="product product-sm">
                <figure class="product-media">
                    <a href="/product/detail">
                        <img src="assets/images/demos/demo-14/products/small/product-2.jpg" alt="Product image"
                            class="product-image">
                    </a>
                </figure>

                <div class="product-body">
                    <h5 class="product-title"><a href="/product/detail">Red Cookware Set, 9
                            Piece</a></h5><!-- End .product-title -->
                    <div class="product-price">
                        $24.95
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product product-sm -->

            <div class="product product-sm">
                <figure class="product-media">
                    <a href="/product/detail">
                        <img src="assets/images/demos/demo-14/products/small/product-3.jpg" alt="Product image"
                            class="product-image">
                    </a>
                </figure>

                <div class="product-body">
                    <h5 class="product-title"><a href="/product/detail">Epson WorkForce WF-2750
                            All-in-One Wireless</a></h5><!-- End .product-title -->
                    <div class="product-price">
                        $49.99
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product product-sm -->

            <div class="product product-sm">
                <figure class="product-media">
                    <a href="/product/detail">
                        <img src="assets/images/demos/demo-14/products/small/product-4.jpg" alt="Product image"
                            class="product-image">
                    </a>
                </figure>

                <div class="product-body">
                    <h5 class="product-title"><a href="/product/detail">Stainless Steel
                            Microwave Oven</a></h5><!-- End .product-title -->
                    <div class="product-price">
                        $64.84
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product product-sm -->

            <div class="product product-sm">
                <figure class="product-media">
                    <a href="/product/detail">
                        <img src="assets/images/demos/demo-14/products/small/product-5.jpg" alt="Product image"
                            class="product-image">
                    </a>
                </figure>

                <div class="product-body">
                    <h5 class="product-title"><a href="/product/detail">Fatboy Original
                            Beanbag</a></h5><!-- End .product-title -->
                    <div class="product-price">
                        $49.99
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product product-sm -->
        </div><!-- End .products -->
    </div><!-- End .widget widget-products -->
</div><!-- End .col-sm-6 col-xl-12 -->