<div class="page-wrapper">
  
    <app-shahrazad-header-home></app-shahrazad-header-home>

    <main class="main">
      <app-home-slider></app-home-slider>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-9 col-xxl-10">
                    <div class="row">

                        <app-home-pub-one></app-home-pub-one>

                    </div><!-- End .row -->
                    <app-home-brand></app-home-brand>

                    <app-home-trending></app-home-trending>

                    <app-home-best-deals></app-home-best-deals>

                    <div class="mb-3"></div><!-- End .mb-3 -->

                    <div class="icon-boxes-container">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="icon-box icon-box-side">
                                        <span class="icon-box-icon text-dark">
                                            <i class="icon-rocket"></i>
                                        </span>
                                        <div class="icon-box-content">
                                            <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                            <p>Orders $50 or more</p>
                                        </div><!-- End .icon-box-content -->
                                    </div><!-- End .icon-box -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="icon-box icon-box-side">
                                        <span class="icon-box-icon text-dark">
                                            <i class="icon-rotate-left"></i>
                                        </span>

                                        <div class="icon-box-content">
                                            <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                            <p>Within 30 days</p>
                                        </div><!-- End .icon-box-content -->
                                    </div><!-- End .icon-box -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="icon-box icon-box-side">
                                        <span class="icon-box-icon text-dark">
                                            <i class="icon-info-circle"></i>
                                        </span>

                                        <div class="icon-box-content">
                                            <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                                            <!-- End .icon-box-title -->
                                            <p>When you sign up</p>
                                        </div><!-- End .icon-box-content -->
                                    </div><!-- End .icon-box -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="icon-box icon-box-side">
                                        <span class="icon-box-icon text-dark">
                                            <i class="icon-life-ring"></i>
                                        </span>

                                        <div class="icon-box-content">
                                            <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                            <p>24/7 amazing services</p>
                                        </div><!-- End .icon-box-content -->
                                    </div><!-- End .icon-box -->
                                </div><!-- End .col-sm-6 col-lg-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .container-fluid -->
                    </div><!-- End .icon-boxes-container -->

                    <div class="mb-5"></div><!-- End .mb-5 -->
                </div><!-- End .col-lg-9 col-xxl-10 -->

                <aside class="col-xl-3 col-xxl-2 order-xl-first">
                    <app-home-pub-two></app-home-pub-two>
                </aside><!-- End .col-lg-3 col-xxl-2 -->
            </div><!-- End .row -->
        </div><!-- End .container-fluid -->
    </main><!-- End .main -->

    <app-shahrazad-newsletters></app-shahrazad-newsletters>
    <app-shahrazad-footer></app-shahrazad-footer>

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<app-shahrazad-mobile-bar-home></app-shahrazad-mobile-bar-home>
