<footer class="footer">
    <div class="footer-middle">
        <div class="container contentPage">
            <div class="row d-flex align-items-center">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <div>
                            <img style="    width: 14vw;" src="assets/images/logo.svg" alt="Footer Logo">
                        </div>
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna
                            eros eu erat. </p>

              
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/about">About Shahrazad</a></li>

                            <li><a [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a></li>
                            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact us</a></li>
  <br>  <br>
                            <li><div  ><strong> Follow us </strong></div></li>
 
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <br>  <br>
                            <li>
                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">

                            <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active">View Cart</a></li>
                            <li><a [routerLink]="['/wishlist']" routerLinkActive="router-link-active">My Wishlist</a>
                            </li>
                            <li><a href="#">Help</a></li>
                            <br>  <br>
                            <li>      <img src="https://d17h7hjnfv5s46.cloudfront.net/assets/build/images/logos/a-world-of-creativity.e53ab93c.svg"
                                width="260" height="52" alt="A world of creativity" lang="en"
                                class="__web-inspector-hide-shortcut__"></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
            <div>
                <div class="col-sm-12 col-lg-12">
    
              
    
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div>
        </div><!-- End .container -->
  
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container contentPage">
            <p class="footer-copyright">Copyright © {{copyRightDate}} Shahrazad Store. All Rights Reserved.</p>
            <!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="assets/images/payments.png" alt="Payment methods" width="150" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->