 
    <div class="page-wrapper">
 
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shahrazad<span>Stores</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container contentPage">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                       
                    
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content contentPage">
                <div class="container">
        			<div class="toolbox">
        	 
                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                Showing <span>12 of 56</span> Stores
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

         
        			</div><!-- End .toolbox -->

                    <div class="products">
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                       
                                        <a href="">
                                            <img src="assets/images/products/product-1.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Nunc dignissim risus</a></h3><!-- End .product-title -->
                                 
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-2.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Accessories</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Cras ornare tristique</a></h3><!-- End .product-title -->
                                     
                               
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                       
                                        <a href="">
                                            <img src="assets/images/products/product-3.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Aliquam tincidunt mauris</a></h3><!-- End .product-title -->
                                       
                                   
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-4.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Dresses</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Brown paperbag waist pencil skirt</a></h3><!-- End .product-title -->
                                      
                                    
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-5.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Dresses</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Dark yellow lace cut out swing dress</a></h3><!-- End .product-title -->
                                    
                         
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                     
                                        <a href="">
                                            <img src="assets/images/products/product-6.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Jackets</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Khaki utility boiler jumpsuit</a></h3><!-- End .product-title -->
                      
                                       
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-7.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Jeans</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Blue utility pinafore denim dress</a></h3><!-- End .product-title -->
                 
                                      
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-8.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Beige knitted elastic runner shoes</a></h3><!-- End .product-title -->
                         
                                        
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-9.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Bags</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Orange saddle lock front  chain cross body bag</a></h3><!-- End .product-title -->
                                      
                            
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                     
                                        <a href="">
                                            <img src="assets/images/products/product-10.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Jumpers</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Yellow button front tea top</a></h3><!-- End .product-title -->
                                 
                                       
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="">
                                            <img src="assets/images/products/product-11.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Light brown studded Wide fit wedges</a></h3><!-- End .product-title -->
                                 
                                    
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="">
                                            <img src="assets/images/products/product-12.jpg" alt="Product image" class="product-image">
                                        </a>

                                         
                                        <div class="product-action action-icon-top">
                                              
                                            <a href=" " class="btn-product btn-quickview" title="Quick view"><span>Store Products</span></a>
                                              
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Bags</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="">Black soft RI weekend travel bag</a></h3><!-- End .product-title -->
                                      
                             
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        </div><!-- End .row -->

                        <div class="load-more-container text-center">
                            <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i class="icon-refresh"></i></a>
                        </div><!-- End .load-more-container -->
                    </div><!-- End .products -->
 
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
 
    </div><!-- End .page-wrapper -->
 