.product-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;
 
    background-color: #ffffff;
    margin-bottom: 0;
    overflow: hidden;
}


.product-image {
    display: block;
    width: auto;
    height: 100%;
}